*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
}

body{
    background-color: #FF3877;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

section{
    background-color: white;
    display: flex;
    border-radius: 12px;
    width: 100%;
    margin-top: 32px;
    padding: 32px;
    justify-content: center;
    box-shadow: 5px 5px 10px rgba(0,0,0, .212);
}

section h1{
    color: #FF3877;
    font-size: 30px;
    margin-bottom: 32px;
}

.caixa-texto{
    border-radius: 3px;
    border: solid #D5D7EB 1px;
    width: 97%;
    background-color: #E8E8E8;
    display: flex;
    margin-bottom: 8px;
    padding: 0.8rem 1.2rem;
}

.caixa-texto:hover{
    border-bottom: solid #FF3877;
    background-color: #D4D4D4;
    cursor: pointer;
}

.lista-urgencia

.grupo-input{
    margin-bottom: 10px;
}

#id-submit{
    background-color: #FF3877;
    border: none;
    border-radius: 3px;
    display: flex;
    width: 360px;
    height: 40px;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    cursor: pointer;
}

#id-submit span{
    text-decoration: none;
    font-size: 20px;
    font-weight: 500;
    color: white;
}

#id-submit:hover{
    background-color: #781A38;
    color: gray;
}

#id-comentario{
    height: 100px;
    font-display: auto;
    text-align:start;
    margin-bottom: 32px;
}

@media screen and (max-width:1330px){
    .section{
        width: 50%;
    }
    .article{
        width: 100%;
    }
    
}